.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: fixed;
    z-index: 999;
    background-color: #363535;
    box-shadow: 0px 3px 20px #3333337c;
    border-bottom: 3px solid #00BCD4;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition:  0.3s ease, color 0.3s ease;
}

.menu a:hover {
    background-color: #00BCD4;
    color: #363535;
}

html {
    scroll-behavior: smooth;
}

.s1 {
    background-color: #e8eaeb;
    color: #011422;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: -120px;
}

.left {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 2%;
}

.right {
    width: 500px;
}

.s5 h2 {
    color: #2e2b5a;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.s6 h2 {
    color: var(--secondary-color);
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.s3 h2 {
    color: var(--secondary-color);
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.s4 h2 {
    color: white;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.tecTitle {
    color: white;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.s3 p {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
    color: #333;
    font-size: 17px;
    line-height: 1.65;
    text-align: justify;
}

.s4 p {
    width: 950px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--highlight-color);
    color: #333;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    text-align: justify;
}

.s5 p {
    width: 930px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--highlight-color);
    color: #333;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    text-align: justify;
}

.s6 p {
    max-width: 800px;
    margin: 1px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #33333300;
    color: #333;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 10px;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.paragraph {
    font-size: 18px;
}

.s2 {
    background-color: #e8eaeb;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.tecTitle {
    padding-top: 100px;
    color: black;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
}

.imageGallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 1100px;
    width: 90%;
    margin: 0 auto;
}

.imageGallery .guerra {
    flex: 1;
    width: 350px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.imageGallery .guerra:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.s2 h2 {
    padding-top: 60px;
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;

    width: 100%;
    text-align: center;
}

.s3 {
    background-color: #e8eaeb;
    color: #011422;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.s3 h2 {
    padding-top: 60px;
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.s4 {
    background-color: #e8eaeb;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

.s4 h2 {
    padding-top: 60px;
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.s4 p {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
    color: #333;
    font-size: 17px;
    line-height: 1.65;
    text-align: justify;
}

.s5 {
    background-color: #e8eaeb;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

.s5 h2 {
    padding-top: 60px;
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}

.s6 {
    background-color: #e8eaeb;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

.s6 h2 {
    padding-top: 60px;
    color: #2e2b5a;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}


.rodape {
    background-color: #e8eaeb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #e8eaeb;
}

.rodape a {
    transition: all 200ms ease-in-out;
    border-radius: 999px;
    overflow: hidden;
}

.rodape a:hover {
    transform: translateY(-6px) scale(1.01);
}

@media (width <= 768px){
        .menu {
        width: 100%;
        height: auto;
        font-size: smaller;
        padding: 1px;
    }

    .menu a{
        width: 160px;
        text-align: center;
    }

    .s1{
        width: 100%;
        overflow: hidden;
    }

    .s1 h2{
        padding-left: 10px;
    }

    .s1 p{
        padding-left: 10px ;
    }

    .s2{
        width: 100%;
        padding: 150px 20px;
    }

    .imageGallery{
        width: 100%;
        flex-direction: column;
        padding-left: 15px;
    }

    .s2 p{
        overflow: hidden;
        width: 100%;
    }

    .s3 p{
        overflow: hidden;
        width: 100%;
    }

    .s4 p{
        overflow: hidden;
        width: 100%;
    }

    .s5 p{
        width: 100%;
    }
}