/* Estiliza a barra de navegação principal, fixa no topo da tela */
.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #363535;
    box-shadow: 0px 3px 20px #3333337c;
    
}

/*(altura total da tela) */
.s1 {
    background-color: aliceblue;
    color: #011422;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Estiliza a imagem de perfil */
.left {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 2%;
}

.left1{
    display: flex; 
    gap: 20px;     
    flex-wrap: wrap;
    justify-content: center;
    
}

/* Estiliza o contêiner do texto (lado direito) da seção 1 */
.right {
    width: 500px;
}



/* Estiliza o título principal da seção */
.title {
    font-size: 36px;
    font-weight: bold;
}

/* Estiliza o parágrafo de texto da seção */
.paragraph {
    font-size: 18px;
}


/* Estiliza o contêiner principal da seção 2 */
.s2 {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

/* Estiliza o título da seção de tecnologias */
.tecTitle {
    width: 100%;
    text-align: center;
    color: #173255;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}

/* Estiliza o contêiner que envolve os cards de tecnologia */
.wrapCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Estiliza o contêiner principal da seção 3 (define cor de fundo) */
.s3 {
    background-color: aliceblue;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

.s3 h2{
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}

/* Estiliza o contêiner principal da seção 4 */
.s4 {
    background-color: aliceblue;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

/* Estiliza o título H2 da seção 4 */
.s4 h2 {
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}

/* Estiliza o contêiner principal da seção 5 (define cor de fundo) */
.s5 {
    background-color: aliceblue;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

.s5 h2{
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}

.s6{
    background-color: aliceblue;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px;
}

.s6 h2{
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 5px;
    font-weight: bold;
}

.s6 p{
    padding-bottom: 10px;
}





/* Estilos aplicados em telas de 768px ou menos */
@media (width <= 768px) {
    /* Ajusta o preenchimento e espaçamento da Seção 1 para telas menores */
    .s1 {
        padding-top: 20px;
        gap: 0;
    }

    /* Reduz a largura e altura do contêiner da imagem de perfil */
    .left {
        width: 300px;
        height: 300px;
    }

    /* Reduz a largura e altura da imagem de perfil */
    .imgPerfil {
        width: 300px;
        height: 300px;
    }

    /* Ajusta o padding e a margem superior do texto da Seção 1 */
    .right {
        padding: 20px;
        margin-top: -150px;
    }

    /* Reduz o tamanho da fonte do título H2 na Seção 4 */
    .s4 h2 {
        font-size: 48px;
        letter-spacing: 5px;
    }
}